/**
 * GitStats - default style
 */
body {
	color: black;
	background-color: #cdcdcd;
}

table.noborders {
    background-color:white;
}

table {
    background-color:#ddf;
}

table td {
    background-color:white;
    white-space: nowrap;
}

.vtable {
	float: right;
	clear: both;
}

table.tags td {
	vertical-align: top;
}

/* Navigation bar; tabbed style */

img {
	border: 1px solid black;
	padding: 0.5em;
	background-color: white;
}

th img {
	border: 0px;
	padding: 0px;
	background-color: #ddf;
}

.moreauthors {
	font-size: 80%;
}
